body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif !important;
}

::-webkit-scrollbar {
  width: 1px !important;
}

@keyframes fade {
  0%,100% { opacity: 0 }
  50% { opacity: 1 }
}

.horizontal-scroll {
  overflow: hidden;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.item {
  display: inline-block;
  height: 108%;
  transition: all 0.2s;
  transform: scale(0.98);
  will-change: transform;
  cursor: pointer;
}
